@use './vars';

*{
  font-family: 'Lora', serif;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  color: inherit;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: vars.$rich-black;
  color: vars.$ghost-white;
  
  scrollbar-width: none;
  -ms-overflow-style: none;
  
  &::-webkit-scrollbar{
    display: none;
  }
}

#root{
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
