@use './vars';

.services {
    background-color: vars.$dark-gunmetal;
    padding: 80px 50px 100px;

    .title {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 60px;
        text-transform: capitalize;
        text-align: center;
    }

    .options {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: auto;
        justify-content: space-evenly;
        gap: 60px;

        .opt {
            width: 500px;
            padding: 0 12.5px 12.5px 7.5px;
            border-bottom: solid 1px rgba($color: vars.$cadet-gray, $alpha: 0.5);

            .upper {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                .name {
                    font-size: 1.4rem;
                    font-weight: 600;
                }

                .price {
                    font-size: 1.2rem;
                    font-weight: 500;
                    color: vars.$french-gray;
                }
            }

            .lower {
                font-size: 1rem;
                font-weight: 500;
                color: vars.$french-gray;
                margin-top: 12.5px;
            }
        }
    }
}